*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-color: rgba(10, 78, 10, 0.384);
}

#opcoes{
    width: 350px;
    background-color: white;
    background-color: rgb(1, 78, 1);
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
}

#opcoes fieldset{
    margin: 3px;
}

#opcoes legend{
    padding: 10px;
    font-size: 18px;
}

#opcoes input{
    margin: 15px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 260px;
    background-color: rgb(1, 78, 1);
    padding: 1px;
    border-radius: 10px;
}

main div{
    background-color: white;
    width: 26px;
    height: 28px;
    margin: 4px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    border-radius: 5px;
}

main div:hover{
    background-color: yellow;
}

div#button{
    margin-top: 30px;
}

div input{
    font-size: 22px;
    padding: 3px;
    border-radius: 5px;
}