body{
    background-color: rgba(0, 75, 0, 0.938);
}

header{
    background-color: aqua;
    text-align: center;
}

.cabecalho__titulo{
    text-transform: uppercase;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao__numeros{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.3em;
    width: 90%;
    background-color: rgb(234, 247, 211);
    border: 1px solid black;
    border-radius: 3%;
    padding: 0.2em;
}

.secao__numeros div{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 25%;
    padding: 0.2em;
    background-color: white;
}

.secao__opcoes{
    display: flex;
    flex-direction: column;
    align-content: center;

    width: 60%;
}

.radio__opcoes-label{
    background-color: white;
    margin-top: 1em;
}

.radio__opcoes{
    display: none;
}

.radio-1:checked ~.radio__label-1{
    background-color: red;
}

.radio-2:checked ~.radio__label-2{
    background-color: red;
}

.button__gerar{
    margin-top: 1em;
}