body{
    background: linear-gradient(#1D6122, #103111);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.cabecalho__titulo{
    text-transform: uppercase;
    margin: 0.5em ;
    padding: 1em 0;
    font-size: 1.1em;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao__numeros{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.3em;
    width: 90%;
    background-color: #8AE690;
    border: 1px solid black;
    border-radius: 3%;
    padding: 0.2em;
    font-size: 0.9em;
}

.secao__numeros div{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 25%;
    padding: 0.2em;
    background-color: white;
}

.texto{
    margin: 1.8em 0;
    font-size: 1.1em;
    color: white;
}

.secao__opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    width: 90%;
}

.radio__opcoes-label{
    background-color: #8AE690;
    margin-top: 0.8em;
    border: 2px solid #8AE690;
}

.radio__opcoes{
    display: none;
}

.radio-1:checked ~.radio__label-1{
    background-color: #44E04F;
    border: 3px solid white;
    font-weight: bold;
}

.radio-2:checked ~.radio__label-2{
    background-color: #44E04F;
    border: 3px solid white;
    font-weight: bold;
}

.button__gerar{
    margin-top: 1em;
}

.botao{
    padding: 0.8em 0; 
    margin: 1.5em 0;
    text-transform: uppercase;
    text-align: center;
    border-radius: 8px;
    font-size: 0.8em;
    width: 70%;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.rodape{
    background-color: #103111;
    color: white;
    font-size: 0.8em;
    padding: 0.8em;
}

.rodape__link{
    text-decoration: none;
    color: gray;
    font-weight: 700;
}


@media screen and (min-width: 1024px){
    
    .cabecalho__titulo{
        font-size: 2em;
    }

    .secao__numeros{
        gap: 0.3em;
        padding: 0.5em;
        font-size: 1.1em;
    }

    .texto{
        font-size: 1.5em;
        margin: 1.3em 0;
    }

    .botao{
        font-size: 1em;
        width: 40%;
    }

    .botao:hover{
        background-color: #44E04F;
    }

    .rodape__link:hover{
        color: #44E04F;
    }

}